@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file or a dedicated CSS module */
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-380%);
    }
  }

  
  .animate-marquee {
    animation: marquee 25s linear infinite;
    white-space: nowrap;

  }
  

  ::-webkit-scrollbar{
    width: 0;
  }
  body{
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .marquee-container:hover .marquee-content {
    animation-play-state: paused;
  }