@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file or a dedicated CSS module */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-350%);
  }
}


.animate-marquee {
  animation: marquee 25s linear infinite;
  white-space: nowrap;

}


::-webkit-scrollbar {
  width: 0;
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}



.main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  z-index: 0;
  /* background-color: #556477; */
  border-radius: 50%;
  box-shadow: -42vw -4vh 0px 0px #556477, 25vw -41vh 0px 0px #556477, -20vw 49vh 0px 1px #556477, 5vw 40vh 1px 1px #556477, 29vw 19vh 1px 0px #556477, -44vw -13vh 0px 0px #556477, 46vw 41vh 0px 1px #556477, -3vw -45vh 0px 1px #556477, 47vw 35vh 1px 0px #556477, 12vw -8vh 1px 0px #556477, -34vw 48vh 1px 1px #556477, 32vw 26vh 1px 1px #556477, 32vw -41vh 1px 1px #556477, 0vw 37vh 1px 1px #556477, 34vw -26vh 1px 0px #556477, -14vw -49vh 1px 0px #556477, -12vw 45vh 0px 1px #556477, -44vw -33vh 0px 1px #556477, -13vw 41vh 0px 0px #556477, -36vw -11vh 0px 1px #556477, -23vw -24vh 1px 0px #556477, -38vw -27vh 0px 1px #556477, 16vw -19vh 0px 0px #556477, 28vw 33vh 1px 0px #556477, -49vw -4vh 0px 0px #556477, 16vw 32vh 0px 1px #556477, 36vw -18vh 1px 0px #556477, -25vw -30vh 1px 0px #556477, -23vw 24vh 0px 1px #556477, -2vw -35vh 1px 1px #556477, -25vw 9vh 0px 0px #556477, -15vw -34vh 0px 0px #556477, -8vw -19vh 1px 0px #556477, -20vw -20vh 1px 1px #556477, 42vw 50vh 0px 1px #556477, -32vw 10vh 1px 0px #556477, -23vw -17vh 0px 0px #556477, 44vw 15vh 1px 0px #556477, -40vw 33vh 1px 1px #556477, -43vw 8vh 0px 0px #556477, -48vw -15vh 1px 1px #556477, -24vw 17vh 0px 0px #556477, -31vw 50vh 1px 0px #556477, 36vw -38vh 0px 1px #556477, -7vw 48vh 0px 0px #556477, 15vw -32vh 0px 0px #556477, 29vw -41vh 0px 0px #556477, 2vw 37vh 1px 0px #556477, 7vw -40vh 1px 1px #556477, 15vw 18vh 0px 0px #556477, 25vw -13vh 1px 1px #556477, -46vw -12vh 1px 1px #556477, -18vw 22vh 0px 0px #556477, 23vw -9vh 1px 0px #556477, 50vw 12vh 0px 1px #556477, 45vw 2vh 0px 0px #556477, 14vw -48vh 1px 0px #556477, 23vw 43vh 0px 1px #556477, -40vw 16vh 1px 1px #556477, 20vw -31vh 0px 1px #556477, -17vw 44vh 1px 1px #556477, 18vw -45vh 0px 0px #556477, 33vw -6vh 0px 0px #556477, 0vw 7vh 0px 1px #556477, -10vw -18vh 0px 1px #556477, -19vw 5vh 1px 0px #556477, 1vw 42vh 0px 0px #556477, 22vw 48vh 0px 1px #556477, 39vw -8vh 1px 1px #556477, -6vw -42vh 1px 0px #556477, -47vw 34vh 0px 0px #556477, -46vw 19vh 0px 1px #556477, -12vw -32vh 0px 0px #556477, -45vw -38vh 0px 1px #556477, -28vw 18vh 1px 0px #556477, -38vw -46vh 1px 1px #556477, 49vw -6vh 1px 1px #556477, -28vw 18vh 1px 1px #556477, 10vw -24vh 0px 1px #556477,-42vw -4vh 0px 0px #556477, 25vw -41vh 0px 0px #556477, -20vw 49vh 0px 1px #556477, 5vw 40vh 1px 1px #556477, 29vw 19vh 1px 0px #556477, -44vw -13vh 0px 0px #556477, 46vw 41vh 0px 1px #556477, -3vw -45vh 0px 1px #556477, 47vw 35vh 1px 0px #556477, 12vw -8vh 1px 0px #556477, -34vw 48vh 1px 1px #556477, 32vw 26vh 1px 1px #556477, 32vw -41vh 1px 1px #556477, 0vw 37vh 1px 1px #556477, 34vw -26vh 1px 0px #556477, -14vw -49vh 1px 0px #556477, -12vw 45vh 0px 1px #556477, -44vw -33vh 0px 1px #556477, -13vw 41vh 0px 0px #556477, -36vw -11vh 0px 1px #556477, -23vw -24vh 1px 0px #556477, -38vw -27vh 0px 1px #556477, 16vw -19vh 0px 0px #556477, 28vw 33vh 1px 0px #556477, -49vw -4vh 0px 0px #556477, 16vw 32vh 0px 1px #556477, 36vw -18vh 1px 0px #556477, -25vw -30vh 1px 0px #556477, -23vw 24vh 0px 1px #556477, -2vw -35vh 1px 1px #556477, -25vw 9vh 0px 0px #556477, -15vw -34vh 0px 0px #556477, -8vw -19vh 1px 0px #556477, -20vw -20vh 1px 1px #556477, 42vw 50vh 0px 1px #556477, -32vw 10vh 1px 0px #556477, -23vw -17vh 0px 0px #556477, 44vw 15vh 1px 0px #556477, -40vw 33vh 1px 1px #556477, -43vw 8vh 0px 0px #556477, -48vw -15vh 1px 1px #556477, -24vw 17vh 0px 0px #556477, -31vw 50vh 1px 0px #556477, 36vw -38vh 0px 1px #556477, -7vw 48vh 0px 0px #556477, 15vw -32vh 0px 0px #556477, 29vw -41vh 0px 0px #556477, 2vw 37vh 1px 0px #556477, 7vw -40vh 1px 1px #556477, 15vw 18vh 0px 0px #556477, 25vw -13vh 1px 1px #556477, -46vw -12vh 1px 1px #556477, -18vw 22vh 0px 0px #556477, 23vw -9vh 1px 0px #556477, 50vw 12vh 0px 1px #556477, 45vw 2vh 0px 0px #556477, 14vw -48vh 1px 0px #556477, 23vw 43vh 0px 1px #556477, -40vw 16vh 1px 1px #556477, 20vw -31vh 0px 1px #556477, -17vw 44vh 1px 1px #556477, 18vw -45vh 0px 0px #556477, 33vw -6vh 0px 0px #556477, 0vw 7vh 0px 1px #556477, -10vw -18vh 0px 1px #556477, -19vw 5vh 1px 0px #556477, 1vw 42vh 0px 0px #556477, 22vw 48vh 0px 1px #556477, 39vw -8vh 1px 1px #556477, -6vw -42vh 1px 0px #556477, -47vw 34vh 0px 0px #556477, -46vw 19vh 0px 1px #556477, -12vw -32vh 0px 0px #556477, -45vw -38vh 0px 1px #556477, -28vw 18vh 1px 0px #556477, -38vw -46vh 1px 1px #556477, 49vw -6vh 1px 1px #556477, -28vw 18vh 1px 1px #556477, 10vw -24vh 0px 1px #556477,-42vw -4vh 0px 0px #556477, 25vw -41vh 0px 0px #556477, -20vw 49vh 0px 1px #556477, 5vw 40vh 1px 1px #556477, 29vw 19vh 1px 0px #556477, -44vw -13vh 0px 0px #556477, 46vw 41vh 0px 1px #556477, -3vw -45vh 0px 1px #556477, 47vw 35vh 1px 0px #556477, 12vw -8vh 1px 0px #556477, -34vw 48vh 1px 1px #556477, 32vw 26vh 1px 1px #556477, 32vw -41vh 1px 1px #556477, 0vw 37vh 1px 1px #556477, 34vw -26vh 1px 0px #556477, -14vw -49vh 1px 0px #556477, -12vw 45vh 0px 1px #556477, -44vw -33vh 0px 1px #556477, -13vw 41vh 0px 0px #556477, -36vw -11vh 0px 1px #556477, -23vw -24vh 1px 0px #556477, -38vw -27vh 0px 1px #556477, 16vw -19vh 0px 0px #556477, 28vw 33vh 1px 0px #556477, -49vw -4vh 0px 0px #556477, 16vw 32vh 0px 1px #556477, 36vw -18vh 1px 0px #556477, -25vw -30vh 1px 0px #556477, -23vw 24vh 0px 1px #556477, -2vw -35vh 1px 1px #556477, -25vw 9vh 0px 0px #556477, -15vw -34vh 0px 0px #556477, -8vw -19vh 1px 0px #556477, -20vw -20vh 1px 1px #556477, 42vw 50vh 0px 1px #556477, -32vw 10vh 1px 0px #556477, -23vw -17vh 0px 0px #556477, 44vw 15vh 1px 0px #556477, -40vw 33vh 1px 1px #556477, -43vw 8vh 0px 0px #556477, -48vw -15vh 1px 1px #556477, -24vw 17vh 0px 0px #556477, -31vw 50vh 1px 0px #556477, 36vw -38vh 0px 1px #556477, -7vw 48vh 0px 0px #556477, 15vw -32vh 0px 0px #556477, 29vw -41vh 0px 0px #556477, 2vw 37vh 1px 0px #556477, 7vw -40vh 1px 1px #556477, 15vw 18vh 0px 0px #556477, 25vw -13vh 1px 1px #556477, -46vw -12vh 1px 1px #556477, -18vw 22vh 0px 0px #556477, 23vw -9vh 1px 0px #556477, 50vw 12vh 0px 1px #556477, 45vw 2vh 0px 0px #556477, 14vw -48vh 1px 0px #556477, 23vw 43vh 0px 1px #556477, -40vw 16vh 1px 1px #556477, 20vw -31vh 0px 1px #556477, -17vw 44vh 1px 1px #556477, 18vw -45vh 0px 0px #556477, 33vw -6vh 0px 0px #556477, 0vw 7vh 0px 1px #556477, -10vw -18vh 0px 1px #556477, -19vw 5vh 1px 0px #556477, 1vw 42vh 0px 0px #556477, 22vw 48vh 0px 1px #556477, 39vw -8vh 1px 1px #556477, -6vw -42vh 1px 0px #556477, -47vw 34vh 0px 0px #556477, -46vw 19vh 0px 1px #556477, -12vw -32vh 0px 0px #556477, -45vw -38vh 0px 1px #556477, -28vw 18vh 1px 0px #556477, -38vw -46vh 1px 1px #556477, 49vw -6vh 1px 1px #556477, -28vw 18vh 1px 1px #556477, 10vw -24vh 0px 1px #556477,-42vw -4vh 0px 0px #556477, 25vw -41vh 0px 0px #556477, -20vw 49vh 0px 1px #556477, 5vw 40vh 1px 1px #556477, 29vw 19vh 1px 0px #556477, -44vw -13vh 0px 0px #556477, 46vw 41vh 0px 1px #556477, -3vw -45vh 0px 1px #556477, 47vw 35vh 1px 0px #556477, 12vw -8vh 1px 0px #556477, -34vw 48vh 1px 1px #556477, 32vw 26vh 1px 1px #556477, 32vw -41vh 1px 1px #556477, 0vw 37vh 1px 1px #556477, 34vw -26vh 1px 0px #556477, -14vw -49vh 1px 0px #556477, -12vw 45vh 0px 1px #556477, -44vw -33vh 0px 1px #556477, -13vw 41vh 0px 0px #556477, -36vw -11vh 0px 1px #556477, -23vw -24vh 1px 0px #556477, -38vw -27vh 0px 1px #556477, 16vw -19vh 0px 0px #556477, 28vw 33vh 1px 0px #556477, -49vw -4vh 0px 0px #556477, 16vw 32vh 0px 1px #556477, 36vw -18vh 1px 0px #556477, -25vw -30vh 1px 0px #556477, -23vw 24vh 0px 1px #556477, -2vw -35vh 1px 1px #556477, -25vw 9vh 0px 0px #556477, -15vw -34vh 0px 0px #556477, -8vw -19vh 1px 0px #556477, -20vw -20vh 1px 1px #556477, 42vw 50vh 0px 1px #556477, -32vw 10vh 1px 0px #556477, -23vw -17vh 0px 0px #556477, 44vw 15vh 1px 0px #556477, -40vw 33vh 1px 1px #556477, -43vw 8vh 0px 0px #556477, -48vw -15vh 1px 1px #556477, -24vw 17vh 0px 0px #556477, -31vw 50vh 1px 0px #556477, 36vw -38vh 0px 1px #556477, -7vw 48vh 0px 0px #556477, 15vw -32vh 0px 0px #556477, 29vw -41vh 0px 0px #556477, 2vw 37vh 1px 0px #556477, 7vw -40vh 1px 1px #556477, 15vw 18vh 0px 0px #556477, 25vw -13vh 1px 1px #556477, -46vw -12vh 1px 1px #556477, -18vw 22vh 0px 0px #556477, 23vw -9vh 1px 0px #556477, 50vw 12vh 0px 1px #556477, 45vw 2vh 0px 0px #556477, 14vw -48vh 1px 0px #556477, 23vw 43vh 0px 1px #556477, -40vw 16vh 1px 1px #556477, 20vw -31vh 0px 1px #556477, -17vw 44vh 1px 1px #556477, 18vw -45vh 0px 0px #556477, 33vw -6vh 0px 0px #556477, 0vw 7vh 0px 1px #556477, -10vw -18vh 0px 1px #556477, -19vw 5vh 1px 0px #556477, 1vw 42vh 0px 0px #556477, 22vw 48vh 0px 1px #556477, 39vw -8vh 1px 1px #556477, -6vw -42vh 1px 0px #556477, -47vw 34vh 0px 0px #556477, -46vw 19vh 0px 1px #556477, -12vw -32vh 0px 0px #556477, -45vw -38vh 0px 1px #556477, -28vw 18vh 1px 0px #556477, -38vw -46vh 1px 1px #556477, 49vw -6vh 1px 1px #556477, -28vw 18vh 1px 1px #556477, 10vw -24vh 0px 1px #556477, -5vw -11vh 1px 1px #556477, 36vw -38vh 0px 1px #556477, -7vw 48vh 0px 0px #556477, 15vw -32vh 0px 0px #556477, 29vw -41vh 0px 0px #556477, 2vw 37vh 1px 0px #556477, 7vw -40vh 1px 1px #556477, 15vw 18vh 0px 0px #556477, 25vw -13vh 1px 1px #556477, -46vw -12vh 1px 1px #556477, -18vw 22vh 0px 0px #556477, 23vw -9vh 1px 0px #556477, 50vw 12vh 0px 1px #556477, 45vw 2vh 0px 0px #556477, 14vw -48vh 1px 0px #556477, 23vw 43vh 0px 1px #556477, -40vw 16vh 1px 1px #556477, 20vw -31vh 0px 1px #556477, -17vw 44vh 1px 1px #556477, 18vw -45vh 0px 0px #556477, 33vw -6vh 0px 0px #556477, 0vw 7vh 0px 1px #556477, -10vw -18vh 0px 1px #556477, -19vw 5vh 1px 0px #556477, 1vw 42vh 0px 0px #556477, 22vw 48vh 0px 1px #556477, 39vw -8vh 1px 1px #556477, -6vw -42vh 1px 0px #556477, -47vw 34vh 0px 0px #556477, -46vw 19vh 0px 1px #556477, -12vw -32vh 0px 0px #556477, -45vw -38vh 0px 1px #556477, -28vw 18vh 1px 0px #556477, -38vw -46vh 1px 1px #556477, 49vw -6vh 1px 1px #556477, -28vw 18vh 1px 1px #556477, 10vw -24vh 0px 1px #556477, -5vw -11vh 1px 1px #556477, 33vw -8vh 1px 0px #556477, -16vw 17vh 0px 0px #556477, 18vw 27vh 0px 1px #556477, -8vw -10vh 1px 1px #556477;


  box-shadow: 24vw 9vh 1px 0px #556477, 12vw -24vh 0px 1px #556477, -45vw -22vh 0px 0px #556477, -37vw -40vh 0px 1px #556477, 29vw 19vh 0px 1px #556477, 4vw -8vh 0px 1px #556477, -5vw 21vh 1px 1px #556477, -27vw 26vh 1px 1px #556477, -47vw -3vh 1px 1px #556477, -28vw -30vh 0px 1px #556477, -43vw -27vh 0px 1px #556477, 4vw 22vh 1px 1px #556477, 36vw 23vh 0px 0px #556477, -21vw 24vh 1px 1px #556477, -16vw 2vh 1px 0px #556477, -16vw -6vh 0px 0px #556477, 5vw 26vh 0px 0px #556477, -34vw 41vh 0px 0px #556477, 1vw 42vh 1px 1px #556477, 11vw -13vh 1px 1px #556477, 48vw -8vh 1px 0px #556477, 22vw -15vh 0px 0px #556477, 45vw 49vh 0px 0px #556477, 43vw -27vh 1px 1px #556477, 20vw -2vh 0px 0px #556477, 8vw 22vh 0px 1px #556477, 39vw 48vh 1px 1px #556477, -21vw -11vh 0px 1px #556477, -40vw 45vh 0px 1px #556477, 11vw -30vh 1px 0px #556477, 26vw 30vh 1px 0px #556477, 45vw -29vh 0px 1px #556477, -2vw 18vh 0px 0px #556477, -16vw 2vh 1px 0px #556477, -16vw -6vh 0px 0px #556477, 5vw 26vh 0px 0px #556477, -34vw 41vh 0px 0px #556477, 1vw 42vh 1px 1px #556477, 11vw -13vh 1px 1px #556477, 48vw -8vh 1px 0px #556477, 22vw -15vh 0px 0px #556477, 45vw 49vh 0px 0px #556477, 43vw -27vh 1px 1px #556477, 20vw -2vh 0px 0px #556477, 8vw 22vh 0px 1px #556477, 39vw 48vh 1px 1px #556477, -21vw -11vh 0px 1px #556477, -40vw 45vh 0px 1px #556477, 11vw -30vh 1px 0px #556477, 26vw 30vh 1px 0px #556477, 45vw -29vh 0px 1px #556477, -2vw 18vh 0px 0px #556477, -29vw -45vh 1px 0px #556477, -7vw -27vh 1px 1px #556477, 42vw 24vh 0px 0px #556477, 45vw -48vh 1px 0px #556477, -36vw -18vh 0px 0px #556477, -44vw 13vh 0px 1px #556477, 36vw 16vh 0px 1px #556477, 40vw 24vh 0px 0px #556477, 18vw 11vh 0px 0px #556477, -15vw -23vh 1px 0px #556477, -24vw 48vh 0px 1px #556477, 27vw -45vh 1px 0px #556477, -2vw -24vh 0px 1px #556477, -15vw -28vh 0px 0px #556477, -43vw 13vh 1px 0px #556477, 7vw 27vh 1px 0px #556477, 47vw 5vh 0px 0px #556477, -45vw 15vh 1px 1px #556477, -5vw -28vh 0px 1px #556477, 38vw 25vh 1px 1px #556477, -39vw -1vh 1px 0px #556477, 5vw 0vh 1px 0px #556477, 49vw 13vh 0px 0px #556477, 48vw 10vh 0px 1px #556477, 19vw -28vh 0px 0px #556477, 4vw 7vh 0px 0px #556477, 21vw 21vh 1px 1px #556477, -15vw -15vh 0px 1px #556477, -6vw -42vh 1px 0px #556477, -15vw 48vh 1px 1px #556477, -23vw 25vh 1px 1px #556477, -48vw 25vh 0px 1px #556477, -31vw -19vh 0px 1px #556477, 4vw 37vh 1px 1px #556477, -43vw 28vh 0px 0px #556477, 3vw -25vh 0px 1px #556477, -39vw 14vh 0px 1px #556477, -40vw 31vh 0px 1px #556477, 35vw -36vh 1px 1px #556477, 16vw 49vh 0px 0px #556477, 6vw 39vh 0px 0px #556477, 3vw -35vh 0px 1px #556477, 24vw 9vh 1px 0px #556477, 12vw -24vh 0px 1px #556477, -45vw -22vh 0px 0px #556477, -37vw -40vh 0px 1px #556477, 29vw 19vh 0px 1px #556477, 4vw -8vh 0px 1px #556477, -5vw 21vh 1px 1px #556477, -27vw 26vh 1px 1px #556477, -47vw -3vh 1px 1px #556477, -28vw -30vh 0px 1px #556477, -43vw -27vh 0px 1px #556477, 4vw 22vh 1px 1px #556477, 36vw 23vh 0px 0px #556477, -21vw 24vh 1px 1px #556477, -16vw 2vh 1px 0px #556477, -16vw -6vh 0px 0px #556477, 5vw 26vh 0px 0px #556477, -34vw 41vh 0px 0px #556477, 1vw 42vh 1px 1px #556477, 11vw -13vh 1px 1px #556477, 48vw -8vh 1px 0px #556477, 22vw -15vh 0px 0px #556477, 45vw 49vh 0px 0px #556477, 43vw -27vh 1px 1px #556477, 20vw -2vh 0px 0px #556477, 8vw 22vh 0px 1px #556477, 39vw 48vh 1px 1px #556477, -21vw -11vh 0px 1px #556477, -40vw 45vh 0px 1px #556477, 11vw -30vh 1px 0px #556477, 26vw 30vh 1px 0px #556477, 45vw -29vh 0px 1px #556477, -2vw 18vh 0px 0px #556477, -16vw 2vh 1px 0px #556477, -16vw -6vh 0px 0px #556477, 5vw 26vh 0px 0px #556477, -34vw 41vh 0px 0px #556477, 1vw 42vh 1px 1px #556477, 11vw -13vh 1px 1px #556477, 48vw -8vh 1px 0px #556477, 22vw -15vh 0px 0px #556477, 45vw 49vh 0px 0px #556477, 43vw -27vh 1px 1px #556477, 20vw -2vh 0px 0px #556477, 8vw 22vh 0px 1px #556477, 39vw 48vh 1px 1px #556477, -21vw -11vh 0px 1px #556477, -40vw 45vh 0px 1px #556477, 11vw -30vh 1px 0px #556477, 26vw 30vh 1px 0px #556477, 45vw -29vh 0px 1px #556477, -2vw 18vh 0px 0px #556477, -29vw -45vh 1px 0px #556477, -7vw -27vh 1px 1px #556477, 42vw 24vh 0px 0px #556477, 45vw -48vh 1px 0px #556477, -36vw -18vh 0px 0px #556477, -44vw 13vh 0px 1px #556477, 36vw 16vh 0px 1px #556477, 40vw 24vh 0px 0px #556477, 18vw 11vh 0px 0px #556477, -15vw -23vh 1px 0px #556477, -24vw 48vh 0px 1px #556477, 27vw -45vh 1px 0px #556477, -2vw -24vh 0px 1px #556477, -15vw -28vh 0px 0px #556477, -43vw 13vh 1px 0px #556477, 7vw 27vh 1px 0px #556477, 47vw 5vh 0px 0px #556477, -45vw 15vh 1px 1px #556477, -5vw -28vh 0px 1px #556477, 38vw 25vh 1px 1px #556477, -39vw -1vh 1px 0px #556477, 5vw 0vh 1px 0px #556477, 49vw 13vh 0px 0px #556477, 48vw 10vh 0px 1px #556477, 19vw -28vh 0px 0px #556477, 4vw 7vh 0px 0px #556477, 21vw 21vh 1px 1px #556477, -15vw -15vh 0px 1px #556477, -6vw -42vh 1px 0px #556477, -15vw 48vh 1px 1px #556477, -23vw 25vh 1px 1px #556477, -48vw 25vh 0px 1px #556477, -31vw -19vh 0px 1px #556477, 4vw 37vh 1px 1px #556477, -43vw 28vh 0px 0px #556477, 3vw -25vh 0px 1px #556477, -39vw 14vh 0px 1px #556477, -40vw 31vh 0px 1px #556477, 35vw -36vh 1px 1px #556477, 16vw 49vh 0px 0px #556477, 6vw 39vh 0px 0px #556477, 3vw -35vh 0px 1px #556477, -44vw -2vh 1px 0px #556477, -6vw 21vh 1px 0px #556477, 48vw 9vh 1px 1px #556477, -43vw 30vh 1px 1px #556477, 29vw -12vh 1px 1px #556477, -40vw 45vh 0px 1px #556477, 11vw -30vh 1px 0px #556477, 26vw 30vh 1px 0px #556477, 45vw -29vh 0px 1px #556477, -2vw 18vh 0px 0px #556477, -29vw -45vh 1px 0px #556477, -7vw -27vh 1px 1px #556477, 42vw 24vh 0px 0px #556477, 45vw -48vh 1px 0px #556477, -36vw -18vh 0px 0px #556477, -44vw 13vh 0px 1px #556477, 36vw 16vh 0px 1px #556477, 40vw 24vh 0px 0px #556477, 18vw 11vh 0px 0px #556477, -15vw -23vh 1px 0px #556477, -24vw 48vh 0px 1px #556477, 27vw -45vh 1px 0px #556477, -2vw -24vh 0px 1px #556477, -15vw -28vh 0px 0px #556477, -43vw 13vh 1px 0px #556477, 7vw 27vh 1px 0px #556477, 47vw 5vh 0px 0px #556477, -45vw 15vh 1px 1px #556477, -5vw -28vh 0px 1px #556477, 38vw 25vh 1px 1px #556477, -39vw -1vh 1px 0px #556477, 5vw 0vh 1px 0px #556477, 49vw 13vh 0px 0px #556477, 48vw 10vh 0px 1px #556477, 19vw -28vh 0px 0px #556477, 4vw 7vh 0px 0px #556477, 21vw 21vh 1px 1px #556477, -15vw -15vh 0px 1px #556477, -6vw -42vh 1px 0px #556477, -15vw 48vh 1px 1px #556477, -23vw 25vh 1px 1px #556477, -48vw 25vh 0px 1px #556477, -31vw -19vh 0px 1px #556477, 4vw 37vh 1px 1px #556477, -43vw 28vh 0px 0px #556477, 3vw -25vh 0px 1px #556477, -39vw 14vh 0px 1px #556477, -40vw 31vh 0px 1px #556477, 35vw -36vh 1px 1px #556477, 16vw 49vh 0px 0px #556477, 6vw 39vh 0px 0px #556477, 3vw -35vh 0px 1px #556477, -44vw -2vh 1px 0px #556477, -6vw 21vh 1px 0px #556477, 48vw 9vh 1px 1px #556477, -43vw 30vh 1px 1px #556477, 29vw -12vh 1px 1px #556477,  -40vw 45vh 0px 1px #556477, 11vw -30vh 1px 0px #556477, 26vw 30vh 1px 0px #556477, 45vw -29vh 0px 1px #556477, -2vw 18vh 0px 0px #556477, -29vw -45vh 1px 0px #556477, -7vw -27vh 1px 1px #556477, 42vw 24vh 0px 0px #556477, 45vw -48vh 1px 0px #556477, -36vw -18vh 0px 0px #556477, -44vw 13vh 0px 1px #556477, 36vw 16vh 0px 1px #556477, 40vw 24vh 0px 0px #556477, 18vw 11vh 0px 0px #556477, -15vw -23vh 1px 0px #556477, -24vw 48vh 0px 1px #556477, 27vw -45vh 1px 0px #556477, -2vw -24vh 0px 1px #556477, -15vw -28vh 0px 0px #556477, -43vw 13vh 1px 0px #556477, 7vw 27vh 1px 0px #556477, 47vw 5vh 0px 0px #556477, -45vw 15vh 1px 1px #556477, -5vw -28vh 0px 1px #556477, 38vw 25vh 1px 1px #556477, -39vw -1vh 1px 0px #556477, 5vw 0vh 1px 0px #556477, 49vw 13vh 0px 0px #556477, 48vw 10vh 0px 1px #556477, 19vw -28vh 0px 0px #556477, 4vw 7vh 0px 0px #556477, 21vw 21vh 1px 1px #556477, -15vw -15vh 0px 1px #556477, -6vw -42vh 1px 0px #556477, -15vw 48vh 1px 1px #556477, -23vw 25vh 1px 1px #556477, -48vw 25vh 0px 1px #556477, -31vw -19vh 0px 1px #556477, 4vw 37vh 1px 1px #556477, -43vw 28vh 0px 0px #556477, 3vw -25vh 0px 1px #556477, -39vw 14vh 0px 1px #556477, -40vw 31vh 0px 1px #556477, 35vw -36vh 1px 1px #556477, 16vw 49vh 0px 0px #556477, 6vw 39vh 0px 0px #556477, 3vw -35vh 0px 1px #556477, -44vw -2vh 1px 0px #556477, -6vw 21vh 1px 0px #556477, 48vw 9vh 1px 1px #556477, -43vw 30vh 1px 1px #556477, 29vw -12vh 1px 1px #556477, -40vw 45vh 0px 1px #556477, 11vw -30vh 1px 0px #556477, 26vw 30vh 1px 0px #556477, 45vw -29vh 0px 1px #556477, -2vw 18vh 0px 0px #556477, -29vw -45vh 1px 0px #556477, -7vw -27vh 1px 1px #556477, 42vw 24vh 0px 0px #556477, 45vw -48vh 1px 0px #556477, -36vw -18vh 0px 0px #556477, -44vw 13vh 0px 1px #556477, 36vw 16vh 0px 1px #556477, 40vw 24vh 0px 0px #556477, 18vw 11vh 0px 0px #556477, -15vw -23vh 1px 0px #556477, -24vw 48vh 0px 1px #556477, 27vw -45vh 1px 0px #556477, -2vw -24vh 0px 1px #556477, -15vw -28vh 0px 0px #556477, -43vw 13vh 1px 0px #556477, 7vw 27vh 1px 0px #556477, 47vw 5vh 0px 0px #556477, -45vw 15vh 1px 1px #556477, -5vw -28vh 0px 1px #556477, 38vw 25vh 1px 1px #556477, -39vw -1vh 1px 0px #556477, 5vw 0vh 1px 0px #556477, 49vw 13vh 0px 0px #556477, 48vw 10vh 0px 1px #556477, 19vw -28vh 0px 0px #556477, 4vw 7vh 0px 0px #556477, 21vw 21vh 1px 1px #556477, -15vw -15vh 0px 1px #556477, -6vw -42vh 1px 0px #556477, -15vw 48vh 1px 1px #556477, -23vw 25vh 1px 1px #556477, -48vw 25vh 0px 1px #556477, -31vw -19vh 0px 1px #556477, 4vw 37vh 1px 1px #556477, -43vw 28vh 0px 0px #556477, 3vw -25vh 0px 1px #556477, -39vw 14vh 0px 1px #556477, -40vw 31vh 0px 1px #556477, 35vw -36vh 1px 1px #556477, 16vw 49vh 0px 0px #556477, 6vw 39vh 0px 0px #556477, 3vw -35vh 0px 1px #556477, -44vw -2vh 1px 0px #556477, -6vw 21vh 1px 0px #556477, 48vw 9vh 1px 1px #556477, -43vw 30vh 1px 1px #556477, 29vw -12vh 1px 1px #556477, -40vw 45vh 0px 1px #556477, 11vw -30vh 1px 0px #556477, 26vw 30vh 1px 0px #556477, 45vw -29vh 0px 1px #556477, -2vw 18vh 0px 0px #556477, -29vw -45vh 1px 0px #556477, -7vw -27vh 1px 1px #556477, 42vw 24vh 0px 0px #556477, 45vw -48vh 1px 0px #556477, -36vw -18vh 0px 0px #556477, -44vw 13vh 0px 1px #556477, 36vw 16vh 0px 1px #556477, 40vw 24vh 0px 0px #556477, 18vw 11vh 0px 0px #556477, -15vw -23vh 1px 0px #556477, -24vw 48vh 0px 1px #556477, 27vw -45vh 1px 0px #556477, -2vw -24vh 0px 1px #556477, -15vw -28vh 0px 0px #556477, -43vw 13vh 1px 0px #556477, 7vw 27vh 1px 0px #556477, 47vw 5vh 0px 0px #556477, -45vw 15vh 1px 1px #556477, -5vw -28vh 0px 1px #556477, 38vw 25vh 1px 1px #556477, -39vw -1vh 1px 0px #556477, 5vw 0vh 1px 0px #556477, 49vw 13vh 0px 0px #556477, 48vw 10vh 0px 1px #556477, 19vw -28vh 0px 0px #556477, 4vw 7vh 0px 0px #556477, 21vw 21vh 1px 1px #556477, -15vw -15vh 0px 1px #556477, -6vw -42vh 1px 0px #556477, -15vw 48vh 1px 1px #556477, -23vw 25vh 1px 1px #556477, -48vw 25vh 0px 1px #556477, -31vw -19vh 0px 1px #556477, 4vw 37vh 1px 1px #556477, -43vw 28vh 0px 0px #556477, 3vw -25vh 0px 1px #556477, -39vw 14vh 0px 1px #556477, -40vw 31vh 0px 1px #556477, 35vw -36vh 1px 1px #556477, 16vw 49vh 0px 0px #556477, 6vw 39vh 0px 0px #556477, 3vw -35vh 0px 1px #556477, -44vw -2vh 1px 0px #556477, -6vw 21vh 1px 0px #556477, 48vw 9vh 1px 1px #556477, -43vw 30vh 1px 1px #556477, 29vw -12vh 1px 1px #556477, -48vw 13vh 1px 0px #556477, -42vw 32vh 1px 1px #556477, 34vw 15vh 1px 1px #556477, 29vw -37vh 1px 1px #556477, 28vw 2vh 0px 0px #556477;
  animation: zoom 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.8);
  }
}


/* 

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}


.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(-45deg);
}

.star {
  --star-color: #a2bfc582;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.83em;
  --top-offset: 18.86vh;
  --fall-duration: 6.074s;
  --fall-delay: 6.366s;
}
.star:nth-child(2) {
  --star-tail-length: 5.06em;
  --top-offset: 32.19vh;
  --fall-duration: 11.643s;
  --fall-delay: 6.741s;
}
.star:nth-child(3) {
  --star-tail-length: 7.3em;
  --top-offset: 85.41vh;
  --fall-duration: 9.099s;
  --fall-delay: 9.389s;
}
.star:nth-child(4) {
  --star-tail-length: 7.5em;
  --top-offset: 22.62vh;
  --fall-duration: 6.011s;
  --fall-delay: 8.547s;
}
.star:nth-child(5) {
  --star-tail-length: 7.23em;
  --top-offset: 77.67vh;
  --fall-duration: 10.605s;
  --fall-delay: 7.712s;
}
.star:nth-child(6) {
  --star-tail-length: 7.34em;
  --top-offset: 66.34vh;
  --fall-duration: 11.603s;
  --fall-delay: 4.899s;
}
.star:nth-child(7) {
  --star-tail-length: 6.55em;
  --top-offset: 84.21vh;
  --fall-duration: 11.157s;
  --fall-delay: 4.145s;
}
.star:nth-child(8) {
  --star-tail-length: 5.76em;
  --top-offset: 9.19vh;
  --fall-duration: 7.797s;
  --fall-delay: 1.641s;
}
.star:nth-child(9) {
  --star-tail-length: 6.59em;
  --top-offset: 31.89vh;
  --fall-duration: 10.416s;
  --fall-delay: 9.51s;
}
.star:nth-child(10) {
  --star-tail-length: 6.25em;
  --top-offset: 17.02vh;
  --fall-duration: 7.886s;
  --fall-delay: 5.014s;
}
.star:nth-child(11) {
  --star-tail-length: 6.94em;
  --top-offset: 62.07vh;
  --fall-duration: 10.84s;
  --fall-delay: 0.787s;
}
.star:nth-child(12) {
  --star-tail-length: 6.86em;
  --top-offset: 57.54vh;
  --fall-duration: 9.094s;
  --fall-delay: 9.764s;
}
.star:nth-child(13) {
  --star-tail-length: 7.38em;
  --top-offset: 33.53vh;
  --fall-duration: 9.183s;
  --fall-delay: 2.564s;
}
.star:nth-child(14) {
  --star-tail-length: 6.68em;
  --top-offset: 55.1vh;
  --fall-duration: 6.775s;
  --fall-delay: 5.337s;
}
.star:nth-child(15) {
  --star-tail-length: 6.83em;
  --top-offset: 6vh;
  --fall-duration: 10.858s;
  --fall-delay: 3.306s;
}
.star:nth-child(16) {
  --star-tail-length: 5.33em;
  --top-offset: 64.55vh;
  --fall-duration: 6.982s;
  --fall-delay: 3.604s;
}
.star:nth-child(17) {
  --star-tail-length: 5.5em;
  --top-offset: 59.83vh;
  --fall-duration: 6.997s;
  --fall-delay: 7.743s;
}
.star:nth-child(18) {
  --star-tail-length: 6.45em;
  --top-offset: 68.45vh;
  --fall-duration: 11.329s;
  --fall-delay: 1.159s;
}
.star:nth-child(19) {
  --star-tail-length: 6.84em;
  --top-offset: 76.31vh;
  --fall-duration: 6.953s;
  --fall-delay: 7.452s;
}
.star:nth-child(20) {
  --star-tail-length: 6.55em;
  --top-offset: 28.3vh;
  --fall-duration: 9.554s;
  --fall-delay: 1.514s;
}
.star:nth-child(21) {
  --star-tail-length: 5.72em;
  --top-offset: 49.47vh;
  --fall-duration: 9.433s;
  --fall-delay: 2.987s;
}
.star:nth-child(22) {
  --star-tail-length: 5.9em;
  --top-offset: 82.97vh;
  --fall-duration: 7.093s;
  --fall-delay: 2.771s;
}
.star:nth-child(23) {
  --star-tail-length: 6.77em;
  --top-offset: 8.8vh;
  --fall-duration: 10.258s;
  --fall-delay: 1.181s;
}
.star:nth-child(24) {
  --star-tail-length: 6.94em;
  --top-offset: 61.27vh;
  --fall-duration: 7.204s;
  --fall-delay: 1.356s;
}
.star:nth-child(25) {
  --star-tail-length: 5.86em;
  --top-offset: 40.36vh;
  --fall-duration: 6.33s;
  --fall-delay: 7.808s;
}
.star:nth-child(26) {
  --star-tail-length: 6.19em;
  --top-offset: 89.07vh;
  --fall-duration: 11.332s;
  --fall-delay: 0.466s;
}
.star:nth-child(27) {
  --star-tail-length: 5.91em;
  --top-offset: 24.72vh;
  --fall-duration: 8.908s;
  --fall-delay: 2.541s;
}
.star:nth-child(28) {
  --star-tail-length: 7.03em;
  --top-offset: 63.93vh;
  --fall-duration: 10.562s;
  --fall-delay: 9.84s;
}
.star:nth-child(29) {
  --star-tail-length: 6.06em;
  --top-offset: 5.08vh;
  --fall-duration: 9.177s;
  --fall-delay: 1.765s;
}
.star:nth-child(30) {
  --star-tail-length: 5.32em;
  --top-offset: 21.72vh;
  --fall-duration: 11.572s;
  --fall-delay: 2.687s;
}
.star:nth-child(31) {
  --star-tail-length: 6.41em;
  --top-offset: 7.6vh;
  --fall-duration: 11.947s;
  --fall-delay: 8.306s;
}
.star:nth-child(32) {
  --star-tail-length: 5.62em;
  --top-offset: 68.87vh;
  --fall-duration: 11.987s;
  --fall-delay: 6.106s;
}
.star:nth-child(33) {
  --star-tail-length: 7.23em;
  --top-offset: 23.5vh;
  --fall-duration: 11.577s;
  --fall-delay: 2.889s;
}
.star:nth-child(34) {
  --star-tail-length: 5.16em;
  --top-offset: 3.76vh;
  --fall-duration: 8.002s;
  --fall-delay: 2.531s;
}
.star:nth-child(35) {
  --star-tail-length: 6.45em;
  --top-offset: 23.24vh;
  --fall-duration: 11.614s;
  --fall-delay: 7.495s;
}
.star:nth-child(36) {
  --star-tail-length: 6.53em;
  --top-offset: 54.73vh;
  --fall-duration: 8.064s;
  --fall-delay: 6.868s;
}
.star:nth-child(37) {
  --star-tail-length: 6.77em;
  --top-offset: 65.34vh;
  --fall-duration: 6.231s;
  --fall-delay: 5.724s;
}
.star:nth-child(38) {
  --star-tail-length: 7.11em;
  --top-offset: 52.41vh;
  --fall-duration: 11.533s;
  --fall-delay: 0.607s;
}
.star:nth-child(39) {
  --star-tail-length: 6.81em;
  --top-offset: 72.51vh;
  --fall-duration: 10.623s;
  --fall-delay: 4.275s;
}
.star:nth-child(40) {
  --star-tail-length: 5.14em;
  --top-offset: 19.32vh;
  --fall-duration: 7.426s;
  --fall-delay: 8.665s;
}
.star:nth-child(41) {
  --star-tail-length: 6.91em;
  --top-offset: 24.38vh;
  --fall-duration: 7.576s;
  --fall-delay: 3.651s;
}
.star:nth-child(42) {
  --star-tail-length: 5.78em;
  --top-offset: 68.75vh;
  --fall-duration: 10.616s;
  --fall-delay: 1.844s;
}
.star:nth-child(43) {
  --star-tail-length: 7.06em;
  --top-offset: 30.91vh;
  --fall-duration: 9.172s;
  --fall-delay: 8.698s;
}
.star:nth-child(44) {
  --star-tail-length: 6.34em;
  --top-offset: 64.63vh;
  --fall-duration: 7.205s;
  --fall-delay: 3.386s;
}
.star:nth-child(45) {
  --star-tail-length: 7.32em;
  --top-offset: 22.97vh;
  --fall-duration: 11.9s;
  --fall-delay: 2.403s;
}
.star:nth-child(46) {
  --star-tail-length: 6.75em;
  --top-offset: 49.06vh;
  --fall-duration: 8.129s;
  --fall-delay: 1.882s;
}
.star:nth-child(47) {
  --star-tail-length: 6.63em;
  --top-offset: 40.06vh;
  --fall-duration: 10.581s;
  --fall-delay: 6.481s;
}
.star:nth-child(48) {
  --star-tail-length: 6.17em;
  --top-offset: 51.72vh;
  --fall-duration: 9.19s;
  --fall-delay: 3.743s;
}
.star:nth-child(49) {
  --star-tail-length: 5.07em;
  --top-offset: 33.41vh;
  --fall-duration: 6.651s;
  --fall-delay: 4.786s;
}
.star:nth-child(50) {
  --star-tail-length: 5.4em;
  --top-offset: 29.52vh;
  --fall-duration: 9.834s;
  --fall-delay: 2.891s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
} */